@import "layout.css";
@import "settings.css";
@import "card.css";
@import "header.css";
@import "home.css";

.loading {
  flex: 1 1;
  margin: 0 auto;
  display: flex;
  width: 200px;
  flex-direction: column;
  .space {
    flex: 1 1;
  }

  .progress {
    width: 200px;
    height: 200px;
  }
}

.new-set {
  display: flex;
  flex-direction: row;

  .input {
    flex: 1 1;
  }
}